.Popular {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 200px;
}

.Popular-header-card {
    background-image: linear-gradient(to top, #ff8a00, #da1b60);
    position: relative;
    border-radius: 16px;
    padding: 2rem;
    margin: 0 4rem 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 320px;
    flex: 0 0 320px;
}

.Mini-card {
    display: flex;
}

.Mini-card-card {
    min-width: 200px;
    min-height: 300px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    -webkit-box-shadow: -1rem 0 3rem #000;
    box-shadow: -1rem 0 3rem #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: .2s;
    transition: .2s;
    margin: 0;
}

.Mini-card-card:hover {
    transform: translate(0, -1rem);
}

.Mini-card-card {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.Mini-card-example {
    font-size: 12px;
    font-weight: 200;
}

.Mini-card-time,
.Mini-card-author-author {
    opacity: 0.5;
    font-size: 12px;
    font-weight: 200;
}

.Mini-card-h2 {
    font-size: 18px;
}

.Mini-card-author {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.Mini-card-foto {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 11rem;
    width: 40px;
    filter: grayscale(100%);
}

.Mini-card-author-name {
    font-size: 12px;
}

.Mini-card-tags {
    margin-top: 20px;
}

.tags {
    color: #7a7a8c;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .50rem;
    white-space: nowrap;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem .85rem;
}