#tags-wrapper {
    display: inline-block;    
    position: relative;
    padding-right: 25px;
    margin-top: 15px;
  } 


  #tags-wrapper input {
    border: 1px solid rgb(214, 216, 218);
    font-size: 14px;
    padding: 0 8px;
    border-radius: 6px;
    margin: 0 8px 8px 0;
    height: 48px;
    max-width: 600px;
    width: calc(100vw - 40px);
  }
  
  #tags-wrapper input:focus {
    outline: transparent;
    border: 1px solid steelblue;
  }
  
  #tags-wrapper button {
    box-shadow: none;
    border: 0;
    font-size: 14px;
    margin-left: 8px;
    color: steelblue;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  
  #tags-wrapper button:focus {
    outline: 1px solid black;
  }