/* example.js tag styling */

.row {
    width: 960px;
    height: auto;
}

form .field {
    display: block;
    border: 1px solid #9e9e9e;
    float: left;
    width: 100%;
}

form .field.tnb {
    border-top: 0;
}

form .field label {
    display: block;
    padding: 1.5rem 2rem 0;
}

form .field textarea {
    display: block;
    width: 100%;
    padding: 0.5rem 2rem 1.5rem;
    font-size: 1.8rem;
    border: 0;
    color: #9e9e9e;
    outline: 0;
}

form .field textarea {
    min-height: 150px;
    resize: vertical;
}

.row .col.s12 {
    margin-top: 25px;
}

.tags-input {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 48px;
    padding: 0 8px;
    border: 1px solid #d6d8da;
    border-radius: 6px;
}

.tags-input:focus-within {
    border: 1px solid #000;
}

.tags-input input {
    border: none;
    height: 46px;
    font-size: 14px;
    padding: 4px 0 0 0;
}

.tags-input input:focus {
    outline: transparent;
}

.waves-effect {
    margin: 10px 10px 10px 0;
}


/* search page styling */

.container-search {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Code Editor styling ===> */

/* code {
       
    max-width: 32rem; 
    background: #263238;
    color: #eff;
    padding: 1rem 3rem;  
    border-radius: 0.25rem;
    counter-reset: step;
    counter-increment: step 0;
    transition: background 0.3s;
    outline: none;
    position: absolute;
    width: 100%;
    height: 73%;
  }
  code:focus {
    background: #2e3d44;
  }
  code p {
    position: relative;
    margin: 0.2rem;
    font-family: monospace;
    display: block;
    white-space: pre;
  }
  code p::before {
    position: absolute;
    top: 0;
    left: -1.75rem;
    color: #50646d;
    user-select: none;
    content: counter(step);
    counter-increment: step;
  }
  
  .card-content {
    background: #eee;
} */


h1 {
    font-size: 3rem;
}

h3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

span {
    font-size: 1rem;
}

.thumbnail {
    width: 4rem;
    height: 4rem;

}

.cardwrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(auto-fill, 25rem);
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem; */
    /* background-color: ivory; */
    justify-content: space-evenly;

}

.card-display {
    background-color: linen;
    /* border: 1px solid gray; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    margin: 2rem 3rem;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 1rem 0;
}

p {
    text-align: left;
    color: dimgray;
}

.iconBox {
    padding: 1rem 3rem;
}

.fa-thumbs-up {
    color: dimgray;
    margin: 5px 5px 10px 5px;
}

.fa-thumbs-up:active,
.fa-thumbs-up:hover {
    color: crimson;
    cursor: pointer;
}

.fa-comments {
    color: dimgray;
    margin: 5px 5px 5px 0;
}

.fa-comments:active,
.fa-comments:hover {
    color: #000;
    cursor: pointer;
}

.cardRating {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.cardTitle {    
    font-size: 1.5rem;
    padding-top: .5rem;
}

.cardBody {
    font-size: 2rem;
    font-weight: bold;
    padding: .5rem 0 .5rem;
}

.new {
    margin: 0 1rem;
    color: #fff;
    background-color: teal;
    line-height: 1;
    font-weight: bold;
    padding: 3px;
    border-radius: 10%;
}

.header {
    border-bottom: 1px solid teal;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    position: relative;
}

.inputBox {
    border-radius: 5px;
    width: 20%;
    border: 1px solid teal;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

.inputBox::-webkit-input-placeholder {
    font-size: 2rem;
    padding: 1rem;
    margin: auto;
}

.post {
    padding: 1rem;
    /* text-align: center; */
}

.postTitle {
    font-size: 2.5rem;    
    font-weight: bold;
}

.postContainer {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 2rem;
}

.postContent {
    font-size: 1.5rem;
}

.postSource {
    font-size: 1.3rem;
    font-style: italic;
}

.postPhoto {
    width: 100%;
    margin: 0 auto;
}

.bio {
    font-size: 1.2rem;
}

.authorContainer {
    display: flex;
    align-items: flex-start;
    padding-bottom: 2rem;
}

.authorInfo {
    display: flex;
    flex-direction: column;
}

.author {

    font-size: 1.5rem;
}

.circular {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 7px;
}

.authorPhoto {
    /*   width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0 5px; */
    width: auto;
    height: 100%;
    margin-left: -1rem;
    margin-top: 0;
}

.posted {
    font-size: 1.2rem;
}

@media only screen and (max-width: 800px) {
    .cardwrapper {
        width: 100%;
    }

    body {
        padding: 0 3%;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 60%;
        padding: 0 1%;
    }

    .authorContainer {
        flex-direction: column;
    }
}