html,
body {
    font-family: sans-serif;
    background: #191a1e;
}

.wrapper {
    padding: 0;
    margin: 0;
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 10px;
    margin-bottom: 150px;
}

.topPicture {
    display: inline-block;
    width: 100%;
    height: 280px;
    padding-top: 0px;
    /* background-color: #ffa003; */
    color: white;
    border-radius: 10px 10px 0px 0px;
    background: rgb(39, 40, 34);
}

.topPicture .logo {
    margin: 6px 6px;
    display: inline-block;
    background-color: black;
    width: 50px;
    height: 55px;
    padding-left: 8px;
}

.topPicture .logo h1 {
    font-size: 20px;
    line-height: 31px;
    font-weight: 300;
}

/* .topPicture .text {
    font-size: 22px;
    padding-left: 58px;
} */

/* .topPicture .text h1 {
    font-weight: 300;
    margin-top: 20px;
} */

.bottomText {
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: -22px;
}

.bottomText h4 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
}

.bottomText p {
    margin-top: 0;
    color: #fff;
}

.grey {
    color: grey;
}

.socialFeatures {
    padding: 7% 0 1% 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    margin: 0 -5em;
}

.socialFeatures span {
    margin-left: 20px;
}

.socialFeature {
    color: #a99999;
}

.socialFeature span {
    margin-left: 5px;
}

.fa-retweet:before {
    color: #0fc057;
}

.fa-comment:before {
    color: #3d5970;
}

.fa-heart:before {
    color: #d70906;
}