.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  text-transform: none;
}

.rounded {
  border-radius: 25px;
}

.post {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  min-height: 100px;
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 12px 18px;
}

.post-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.post-top-left {
  display: flex;
  align-items: center;
}

.post-profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-left: -52px;
}


.post-profile-name {
  color: #424242;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.post-profile-name:hover {
  text-decoration: underline;
}

.post-date-posted {
  font-size: 14px;
  color: #aaaaaa;
}

/* Content */
/* .post-content {
  padding: 14px 8px;
} */

.align {
  margin-top: 20px;
}

.post-footer {
  padding: 2px 10px;

}

.footer-link {
  color: red;
  margin: 0 30px 0 0;
  text-decoration: none;
  font-size: 14px;
  color: #aaa;
}

.footer-link:hover {
  color: #1da1f2;
}

.footer-icon {
  fill: currentColor;
  margin-right: 4px;
  display: inline-block;
  font-size: 24px;
}

.footer-link:nth-child(2):hover {
  color: #17bf63;
}

.footer-link:nth-child(3):hover {
  color: #F44336;
}

/* Comment Section */

.post__comments {
  padding: 16px 0;
  margin-top: 10px;
}

.comment-create {
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.comment__profile-img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 6px 14px;
  border: none;
  background-color: #eee;
  height: 34px;
}

.comment {
  display: flex;
  margin: 20px 0;
  align-items: center;
  border-radius: 3px;
}

.comment__text {
  background-color: #eee;
  font-size: 14px;
  padding: 8px 6px;
}

.comment-name {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #424242;
}

.comment-name:hover {
  text-decoration: underline
}

button.AtenasButton___VpMK1 {
  background-color: #26a69a;
}

.card {
  border-radius: 25px;
}

div#codeSnippet {
  background: rgb(39, 40, 34);
  border-radius: 20px 0px 0px 20px;
}

.post-footer {
  padding: 2px 0px;
  position: relative;
  top: 25%;
}

.modal-wrapper .waves-effect {
  margin: 0;
}